<div class="w-50 mx-auto bg-light p-3 mt-5">
  <h2 class="d-flex justify-content-center text-primary">Centro de mensajes</h2>
  <form  action="/" method="post" id="myChat" class="d-flex justify-content-start my-4">
    <input type="email" id="username" class="form-control me-3" placeholder="Email..." required>
    <input type="text" id="message" class="form-control me-3" placeholder="Mensaje..." required>
    <input type="submit" value="Enviar" class="btn btn-primary">
  </form>
  <hr>
  <div id="container-messages"></div>
</div>
